nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.Nav_ul {
    position: relative;
    display: flex;
    list-style: none;
}
.Nav_li {
    padding: 20px;
}
.Nav_lidivContent {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 1px;
}
.Nav_divIconArrow {
    display: flex;
    margin-bottom: 2px;
}
.Nav_span {
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.05em;
    color: #686868;
    transition: all 0.3s ease;
    cursor: pointer;
}
.Nav_span:hover {
    color: var(--Almost-Black)
}

.Nav_divButtons {
    display: flex;
    max-width: 196px;
    width: 100%;
    justify-content: space-between;
}
.Nav_buttonLO {
    padding: 11px 14px 12px 13px;
    border: 2px solid transparent;
    border-radius: 13px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.05em;
    color: #686868;
    transition: all 0.3s ease;
}
.Nav_buttonLO:hover {
    color: var(--Almost-Black);
}
.Nav_buttonRE {
    padding: 11px 22px 12px 22px;
    border-radius: 13px;
    border: 2px solid #686868;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.035em;
    color: #686868;
    transition: all 0.3s ease;
}
.Nav_buttonRE:hover {
    border-color: var(--Almost-Black);
    color: var(--Almost-Black);
}

.Nav_dropdown {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 16px 10px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 20px #0000001e;
    left: -55px;
}
.Nav_ulDropdown {
    list-style: none;
}
.Nav_liDropdown {
    display: flex;
    gap: 7px;
    align-items: center;
    padding: 0px 0px 0px 7px;
    width: 133px;
    cursor: pointer;
    border-radius: 4px;
}
.Nav_liDropdown:hover {
    background-color: rgba(0, 255, 255, 0.138);
}
.Nav_divImageDropdown {
    /* background-color: aqua; */
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.Nav_spanDropdown {
    font-size: 15px;
    color: var( --Medium-Gray);
}
